---
root: https://exastro-suite.github.io
suiteTitle: EPOCH
suiteName: epoch
suiteURL: /epoch-docs
homeURL: /docs
---
<!doctype html>
<html>
    <head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-144561796-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-144561796-1');
</script>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        <meta name="theme-color" content="#1F8C78">
        <meta http-equiv="content-language" content="{{ page.lang }}">
        
        {% if page.type == "learn" %}{% assign category = "Learn" %}{% elsif page.type == "document" %}{% assign category = "Document" %}{% endif %}

        <title>{{ page.title }} | Exastro EPOCH {{ category }}</title>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
        <script src="{{ layout.homeURL }}/asset/js/document.js"></script>
        <link href="{{ layout.suiteURL }}/asset/css/document.css" rel="stylesheet">
        
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">
        <link href="{{ layout.homeURL }}/asset/font/fontawesome/css/all.min.css" rel="stylesheet">
        <link href="{{ layout.homeURL }}/asset/css/document.css" rel="stylesheet">

        <link rel="icon" type="image/x-icon" href="{{ layout.root }}{{ layout.suiteURL }}/favicon.ico">
        <link rel="shortcut icon" href="{{ layout.root }}{{ layout.suiteURL }}/favicon.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ layout.root }}{{ layout.suiteURL }}/apple-touch-icon.png">
        
        <meta name="keywords" content="Exastro,Exastro Suite,OSS,Exastro EPOCH,EPOCH,{{ category }}">
        {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
        <meta name="thumbnail" content="{{ layout.root }}{{ layout.suiteURL }}/asset/img/epoch_thumbnail.jpg" />

        <meta property="og:url" content="{{ layout.root }}{{ layout.suiteURL }}{{ page.url }}">
        <meta property="og:type" content="article">
        <meta property="og:title" content="{{ page.title }} | Exastro EPOCH {{ category }}">
        {% if page.description %}<meta property="og:description" content="{{ page.description }}">{% endif %}
        <meta property="og:site_name" content="Exastro EPOCH {{ category }}">
        <meta property="og:image" content="{{ layout.root }}{{ layout.suiteURL }}/asset/img/epoch_image_{{ page.type }}.jpg">
        
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="{{ page.title }} | Exastro EPOCH {{ category }}">
        <meta name="twitter:image" content="{{ layout.root }}{{ layout.suiteURL }}/asset/img/epoch_thumbnail.jpg">
    </head>
    <body id="document" class="epoch">
        <div id="container">
            <header id="header">
                <div class="header-overlay"></div>
                <div class="header-title">
                    <div class="header-logo">
                        <img src="https://exastro-suite.github.io/docs/asset/logo/exastro/Exastro-logo2-white-rgb.svg" alt="Exastro">
                        <img src="https://exastro-suite.github.io/docs/asset/logo/epoch/Exastro-EPOCH-logotype2-white-rgb.svg" alt="EPOCH">
                    </div>
                    <div class="header-name"><i class="fas fa-school"></i><span class="header-title-category">{{ category }}</span></div>
                </div>
                <div class="header-menu-button"><span class="header-menu-button-mark"></span></div>
                {% include navi_learn.html %}
            </header>
            <main id="main">
                <article id="article">
                    <header class="article-header">
                        <h1>
                          <span class="article-header-logo"><img src="https://exastro-suite.github.io/docs/asset/logo/epoch/Exastro-EPOCH-logo1-rgb.svg" alt="Exastro EPOCH"></span>
                          <span class="article-header-name"><i class="fas fa-school"></i><span class="article-header-category">{{ category }}</span></span>
                          <span class="article-header-title">{{ page.title }}</span>
                        </h1>
                        <div class="article-header-info">
                            <ul class="article-header-info-list">
                                {% if page.version %}<li class="article-header-info-item">
                                    <dl class="article-header-info-card">
                                        <dt class="article-header-info-title">Version</dt>
                                        <dd class="article-header-info-body">{{ page.version }}</dd>
                                    </dl>
                                </li>{% endif %}
                                {% if page.author %}<li class="article-header-info-item">
                                    <dl class="article-header-info-card">
                                        <dt class="article-header-info-title">Author</dt>
                                        <dd class="article-header-info-body">{{ page.author }}</dd>
                                    </dl>
                                </li>{% endif %}
                                {% if page.date %}<li class="article-header-info-item">
                                    <dl class="article-header-info-card">
                                        <dt class="article-header-info-title">Release date</dt>
                                        <dd class="article-header-info-body">{{ page.date }}</dd>
                                    </dl>
                                </li>{% endif %}
                                {% if page.lastmod %}<li class="article-header-info-item">
                                    <dl class="article-header-info-card">
                                        <dt class="article-header-info-title">Last modified</dt>
                                        <dd class="article-header-info-body">{{ page.lastmod }}</dd>
                                    </dl>
                                </li>{% endif %}
                            </ul>
                        </div>
                    </header>
                    <section class="article-section">{{ content }}</section>
                </article>
            </main>
            <div id="topMove"><a href="#"><i class="fas fa-arrow-up"></i><span>Page Top</span></a></div>
            <footer id="footer">
                <div class="copyright">
                    <p><small><script src="https://exastro-suite.github.io/docs/asset/js/copyright.js"></script></small></p>
                </div>
            </footer>
        </div>
        
<script type="text/javascript">
piAId = '873721';
piCId = '21538';
piHostname = 'pi.pardot.com';

(function() {
	function async_load(){
		var s = document.createElement('script'); s.type = 'text/javascript';
		s.src = ('https:' == document.location.protocol ? 'https://pi' : 'http://cdn') + '.pardot.com/pd.js';
		var c = document.getElementsByTagName('script')[0]; c.parentNode.insertBefore(s, c);
	}
	if(window.attachEvent) { window.attachEvent('onload', async_load); }
	else { window.addEventListener('load', async_load, false); }
})();
</script>

    </body>
</html>